.content {
  &__header__content {
    margin-bottom: 40px;
  }
  &__header__filter {
    @include flexbox();
    align-items: center;
    gap: 10px;
  }
  &__header__title {
    font-family: $fontfamily;
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0 20px;
    color: #1f2937;
  }
  .export-btn {
    height: 36px;
    padding: 8px 61px;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-family: $fontfamily;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #6574d8;
    border: 1px solid #6574d8;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    transition: 0.4s;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
  &__report__container {
    @include flexbox();
    align-items: center;
    gap: 22px;
    margin-bottom: 26px;
  }
  .report__box {
    border: 1px solid;
    width: 100%;
    max-width: 300px;
    @include flexbox();
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 22px 10px;
    border-radius: 20px;
    height: 54px;
  }
  .report__title {
    @include flexbox();
    align-items: center;
    gap: 8px;
    //styleName: Poppins Body/16/SemiBold;
    h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #1f2937;
    }

    &__dot {
      padding: 10px;
      height: 10px;
      border-radius: 50%;
      display: flex;
      // background: #ff9500;
      align-items: center;
      justify-content: center;
    }
  }
  .report__count {
    background: #e5e7eb;
    min-width: 94px;
    height: 34px;
    padding: 7.5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #6b7280;
  }
}

.radio-group-menu {
  padding: 16px 6px !important;
}
.form-box-check-title {
  font-family: Poppins !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  letter-spacing: 0.01em !important;
  text-align: lef !important;
  color: #374151 !important;
}
.disabled-text {
  opacity: 0.5;
  cursor: no-drop;
}
