.login {
  @include flexbox();
  max-height: 100vh;
  overflow: hidden;
  background: url('/public/img/login-bg.png') no-repeat;
  background-size: 60%;
  height: 100vh;
  background-position-x: right;
  &__form {
    padding: 160px;
  }
  &__input {
    color: #383838;

    // font-family: Stem-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__btn {
    width: 240px;
    height: 50px;
    border-radius: 8px;
    background: #211f20;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      color: #211f20 !important;
      border-color: #211f20 !important;
    }
  }
}
